/* ---------------Estilos universales---------------- */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.colorFondo {
  background-color: #180707;
}

.navbar.navbar-expand-md.bg-dark.navbar-dark {
  font-size: 20px;
  padding: 0 0 0 0;
}

.bg-dark {
  background-color: transparent !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #212529;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  text-shadow: 0px 0px 5px #4e8710;
}

header {
  height: 350px;
  width: 100%;
  background-image: url(./imgTragos/fotologo.jpg);
  background-size: cover;
  background-position: center;
}

header .tituloSecundario {
  color: white;
  text-shadow: 0px 0px 5px #c6d30b;
  font-size: 45px;
  text-align: center;
  background-color: transparent;
  text-transform: capitalize;
  padding-top: 150px;
}

header .animate__animated.animate__slideInDown {
  --animate-duration: 1s;
}

main {
  background-image: radial-gradient(circle, #605200, #5b3d0a, #4f2c12, #3d1e15, #271413, #1d0f10, #12080a, #000000, #000000, #000000, #000000, #000000);
}

main .subtitulo {
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
}

main p,
main .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne main .textoIndex {
  text-align: justify;
  padding: 5px;
}

footer .jumbotron {
  background-color: #160f0f;
  padding: 2rem 1rem;
  height: 250px;
}

footer .jumbotron .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

footer .jumbotron .Redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}

footer .jumbotron .Redes img.facebook {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

footer .jumbotron .Redes img.instagram {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

footer .jumbotron .Redes img.twitter {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

footer .jumbotron .Redes img.whatsapp {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

footer .textF {
  text-align: center;
}

/*------------------------ Estilos index inicio ---------------------------*/
.titulo {
  color: white;
  text-shadow: 6px 6px 6px orange;
  font-size: 35px;
  text-align: center;
  background-color: transparent;
  text-transform: capitalize;
  padding-top: 150px;
  font-weight: 550;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.titulo span {
  font-size: 35px;
  background-color: transparent;
  color: #000000;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}

.mainIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1.9fr 1.7fr 0.2fr;
  grid-template-columns: 0.2fr 1.9fr 1.7fr 0.2fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 3px;
  grid-auto-flow: row;
  grid-template-areas: ". seccionOne seccionOne ."
    ". seccionTwo seccionTwo .";
  width: 100%;
}

.mainIndex .seccionOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 0.8fr;
  grid-template-columns: 1.3fr 0.8fr;
  -ms-grid-rows: 0.3fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  gap: 20px 5px;
  grid-auto-flow: row;
  grid-template-areas: "subtitulo subtitulo"
    "fotoFondo2 textoIndex";
  -ms-grid-column-span: 2;
  grid-area: seccionOne;
}

.mainIndex .seccionOne .contenedorImagen1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.mainIndex .seccionOne .contenedorImagen1 .fotoFondo2 {
  display: inline-block;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.mainIndex .seccionOne .subtitulo {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-span: 2;
  grid-area: subtitulo;
  margin-top: 70px;
  margin-bottom: 60px;
  text-shadow: 0px 0px 5px #c6d30b;
}

.mainIndex .seccionOne .textoIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainIndex .seccionTwo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "subTituloIndex"
    "fotoPrincipal";
  -ms-grid-column-span: 2;
  grid-area: seccionTwo;
  margin-bottom: 30px;
}

.mainIndex .seccionTwo .seccionTwo h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.mainIndex .seccionTwo .subTituloIndex {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-shadow: 0px 0px 5px #c6d30b;
}

.mainIndex .seccionTwo .carousel-inner img {
  width: 100%;
  height: 500px;
}

.mainIndex .seccionTwo .fotofondo {
  background-position: center;
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainIndex .seccionTwo .fotofondo3 {
  background-position: center;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainIndex .seccionTwo .fotofondo4 {
  background-position: center;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.mainIndex .seccionTwo .fotofondo5 {
  background-position: center;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/*------------------- Estilos index fin--------------------- */
/* ------------------Estilos Categoria inicio--------------- */
.mainCategorias {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh;
}

.mainCategorias .subtitulo {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-top: 70px;
  padding-bottom: 60px;
  text-shadow: 0px 0px 5px #c6d30b;
}

.mainCategorias .textoCategorias {
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mainCategorias .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
}

.mainCategorias .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #7a7878;
}

.mainCategorias .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #331400;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .box:hover {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container .card .box .content p,
.container .card .box .content .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne .container .card .box .content .textoIndex {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .box .content a :hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/*------------------ Estilos Categoria Fin------------------- */
/* ----------------- Estilos Tutoriales inicio--------------- */
.mainTutoriales {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.mainTutoriales .subtitulo {
  -ms-grid-column-align: center;
  justify-self: center;
  text-shadow: 0px 0px 5px #c6d30b;
  margin-bottom: 60px;
  padding-top: 70px;
  font-size: 35px;
}

.mainTutoriales .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.mainTutoriales .contenedor .image-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 370px;
  height: 635px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.mainTutoriales .contenedor .image-block:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mainTutoriales .contenedor .image-block:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.mainTutoriales .contenedor .image-block:hover figcaption {
  bottom: 0;
}

.mainTutoriales .contenedor .image-block h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 5px 8px #2b0505;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
}

.mainTutoriales .contenedor .image-block img {
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block figcaption {
  position: absolute;
  bottom: -33%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
}

.mainTutoriales .contenedor .image-block figcaption p,
.mainTutoriales .contenedor .image-block figcaption .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne .mainTutoriales .contenedor .image-block figcaption .textoIndex {
  font-size: 14px;
  line-height: 1.75;
}

.mainTutoriales .contenedor .image-block2 {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 370px;
  height: 635px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.mainTutoriales .contenedor .image-block2:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mainTutoriales .contenedor .image-block2:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.mainTutoriales .contenedor .image-block2:hover figcaption {
  bottom: 0;
}

.mainTutoriales .contenedor .image-block2 h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 5px 8px #2b0505;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
}

.mainTutoriales .contenedor .image-block2 .imagen {
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block2 figcaption {
  position: absolute;
  bottom: -33%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block2 figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
}

.mainTutoriales .contenedor .image-block2 figcaption p,
.mainTutoriales .contenedor .image-block2 figcaption .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne .mainTutoriales .contenedor .image-block2 figcaption .textoIndex {
  font-size: 14px;
  line-height: 1.75;
}

.mainTutoriales .contenedor .image-block3 {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 370px;
  height: 635px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.mainTutoriales .contenedor .image-block3:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mainTutoriales .contenedor .image-block3:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.mainTutoriales .contenedor .image-block3:hover figcaption {
  bottom: 0;
}

.mainTutoriales .contenedor .image-block3 h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 5px 8px #2b0505;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
}

.mainTutoriales .contenedor .image-block3 img {
  height: 100%;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.mainTutoriales .contenedor .image-block3 figcaption {
  position: absolute;
  bottom: -33%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block3 figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
}

.mainTutoriales .contenedor .image-block3 figcaption p,
.mainTutoriales .contenedor .image-block3 figcaption .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne .mainTutoriales .contenedor .image-block3 figcaption .textoIndex {
  font-size: 14px;
  line-height: 1.75;
}

.mainTutoriales .contenedor .image-block4 {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 370px;
  height: 635px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.mainTutoriales .contenedor .image-block4:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mainTutoriales .contenedor .image-block4:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.mainTutoriales .contenedor .image-block4:hover figcaption {
  bottom: 0;
}

.mainTutoriales .contenedor .image-block4 h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0px 5px 8px #2b0505;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
}

.mainTutoriales .contenedor .image-block4 img {
  height: 100%;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.mainTutoriales .contenedor .image-block4 figcaption {
  position: absolute;
  bottom: -33%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mainTutoriales .contenedor .image-block4 figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
}

.mainTutoriales .contenedor .image-block4 figcaption p,
.mainTutoriales .contenedor .image-block4 figcaption .mainIndex .seccionOne .textoIndex,
.mainIndex .seccionOne .mainTutoriales .contenedor .image-block4 figcaption .textoIndex {
  font-size: 14px;
  line-height: 1.75;
}

/* ----------------- Estilos Tutoriales fin------------------- */
/* ----------------- Estilos Tip inicio   -------------------- */
.mainTips {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 4.2fr 0.2fr;
  grid-template-columns: 0.2fr 4.2fr 0.2fr;
  -ms-grid-rows: 0.2fr 0.3fr 0.2fr 2.4fr 0.3fr 2.6fr;
  grid-template-rows: 0.2fr 0.3fr 0.2fr 2.4fr 0.3fr 2.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". contexto ."
    ". textoTips1 ."
    ". experiencias ."
    ". exp ."
    ". textAnecdotas ."
    ". anecdotas .";
  margin-bottom: 50px;
}

.mainTips h3 {
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-decoration: underline;
  text-shadow: 0 0 5px black;
}

.mainTips .contexto {
  margin-right: auto;
  margin-left: auto;
  grid-area: contexto;
  font-size: 30px;
  text-shadow: 0px 0px 5px #c6d30b;
  text-decoration: none;
  margin-top: 70px;
  margin-bottom: 60px;
}

.mainTips .textoTips1 {
  grid-area: textoTips1;
}

.mainTips .experiencias {
  margin-right: auto;
  margin-left: auto;
  grid-area: experiencias;
  margin-bottom: 10px;
}

.mainTips .exp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "textoTips2 contenedorTips1";
  grid-area: exp;
}

.mainTips .exp .contenedorTips1 {
  grid-area: contenedorTips1;
  margin-top: 10px;
}

.mainTips .exp .contenedorTips1 .fotoExp {
  height: auto;
  max-width: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 10px;
}

.mainTips .exp .contenedorTips1 .textoTips2 {
  grid-area: textoTips2;
  margin-top: 20px;
}

.mainTips .textAnecdotas {
  margin-right: auto;
  margin-left: auto;
  grid-area: textAnecdotas;
  margin-bottom: 50px;
}

.mainTips .anecdotas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1.5fr;
  grid-template-rows: 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "textotips3 contenedorTips2";
  grid-area: anecdotas;
  margin-bottom: 10px;
}

.mainTips .anecdotas .contenedorTips2 {
  grid-area: contenedorTips2;
}

.mainTips .anecdotas .contenedorTips2 .fotoAnecdota {
  height: auto;
  max-width: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 10px;
}

.mainTips .anecdotas .contenedorTips2 .textotips3 {
  grid-area: textotips3;
}

/* ----------------- Estilos Tip fin   ----------------------- */
/* ----------------- Estilos Contactos inicio   ----------------------- */
.mainContactos #container {
  border: solid 3px #ffffff;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 60px;
  position: relative;
}

.mainContactos #container .contactosH1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.mainContactos #container .underline {
  border-bottom: solid 2px #ffffff;
  margin: -0.512em auto;
  width: 350px;
}

.mainContactos #container .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.mainContactos #container .icon_wrapper .icon {
  display: block;
  fill: #ffffff;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.mainContactos #container form {
  padding: 37.5px;
  margin: 50px 0;
}

.mainContactos #container form button {
  overflow: visible;
}

.mainContactos #container form button,
.mainContactos #container form select {
  text-transform: none;
}

.mainContactos #container form button,
.mainContactos #container form input,
.mainContactos #container form select,
.mainContactos #container form textarea {
  color: #ffffff;
  font: inherit;
  margin: 0;
}

.mainContactos #container form input {
  line-height: normal;
}

.mainContactos #container form textarea {
  overflow: auto;
}

.mainContactos #container form .email {
  float: right;
  width: 45%;
}

.mainContactos #container form input[type='text'],
.mainContactos #container form [type='email'],
.mainContactos #container form select,
.mainContactos #container form textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #ffffff;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainContactos #container form input[type='text']:focus,
.mainContactos #container form [type='email']:focus,
.mainContactos #container form textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.mainContactos #container form .message {
  float: none;
}

.mainContactos #container form .name {
  float: left;
  width: 45%;
}

.mainContactos #container form select::-ms-expand {
  display: none;
}

.mainContactos #container form .subject {
  width: 100%;
}

.mainContactos #container form .telephone {
  width: 100%;
}

.mainContactos #container form textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

.mainContactos #container form ::-webkit-input-placeholder {
  color: #ffffff;
}

.mainContactos #container form :-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.mainContactos #container form ::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.mainContactos #container form :-ms-input-placeholder {
  color: #ffffff;
}

.mainContactos #container form #form_button {
  background: none;
  border: solid 2px #474544;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainContactos #container form #form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'],
  [type='email'],
  select,
  textarea {
    font-size: 0.875em;
  }
}

/* ----------------- Estilos Contactos Fin   ----------------------- */
/* ---------- Media Queries ------------- */
/* ------index------------ */
@media (max-width: 1024px) {
  .mainIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 6px 3px;
    grid-auto-flow: row;
    grid-template-areas: ". seccionOne seccionOne ."
      ". seccionTwo seccionTwo .";
    width: 100%;
  }

  .mainIndex .seccionOne {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas: "subtitulo "
      "fotoFondo2 "
      "textoIndex ";
    -ms-grid-column-span: 2;
    grid-area: seccionOne;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
  }

  .mainIndex .seccionOne .subtitulo {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    grid-area: subtitulo;
  }

  .mainIndex .seccionOne .fotoFondo2 {
    display: inline-block;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-area: fotoFondo2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .mainIndex .seccionOne .textoIndex {
    grid-area: textoIndex;
  }

  .mainIndex .subTituloIndex {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    grid-area: subTituloIndex;
  }
}

@media (max-width: 768px) {
  body .titulo {
    font-size: 30px;
  }

  body .titulo span {
    font-size: 30px;
  }

  .mainIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 6px 3px;
    grid-auto-flow: row;
    grid-template-areas: ". seccionOne  ."
      ". seccionTwo  .";
    width: 100%;
  }

  .mainIndex .seccionOne {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas: "subtitulo "
      "fotoFondo2 "
      "textoIndex ";
    grid-area: seccionOne;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .mainIndex .seccionOne .contenedorImagen1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .mainIndex .seccionOne .contenedorImagen1 .fotoFondo2 {
    display: inline-block;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .contacto h3 {
    font-size: 15px;
  }

  .contacto h4 {
    font-size: 15px;
  }
}

@media (max-width: 620px) {
  .contenedorImagen1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 260px;
  }

  .contenedorImagen1 .fotoFondo2 {
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .carousel-inner img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 420px) {
  .seccionOne {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas: "subtitulo "
      "fotoFondo2 "
      "textoIndex ";
    -ms-grid-column-span: 2;
    grid-area: seccionOne;
  }

  .seccionOne .contenedorImagen1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }

  img.facebook {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  img.instagram {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  img.twitter {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  img.whatsapp {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .carousel-inner img {
    width: 100%;
    height: 250px;
  }
}

/* ------------categorias-------------- */
/* --------Tutoriales----- */
@media (max-width: 480px) {
  .mainTutoriales .contenedor .image-block {
    width: 300px;
    height: 550px;
  }

  .mainTutoriales .contenedor .image-block figcaption {
    position: absolute;
    bottom: -34%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    -webkit-transition: 0.45s;
    transition: 0.45s;
  }

  .mainTutoriales .contenedor .image-block figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
  }

  .mainTutoriales .contenedor .image-block figcaption p,
  .mainTutoriales .contenedor .image-block figcaption .mainIndex .seccionOne .textoIndex,
  .mainIndex .seccionOne .mainTutoriales .contenedor .image-block figcaption .textoIndex {
    font-size: 14px;
    line-height: 1.75;
  }

  .mainTutoriales .contenedor .image-block2 {
    width: 300px;
    height: 550px;
  }

  .mainTutoriales .contenedor .image-block2 figcaption {
    position: absolute;
    bottom: -34%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    -webkit-transition: 0.45s;
    transition: 0.45s;
  }

  .mainTutoriales .contenedor .image-block2 figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
  }

  .mainTutoriales .contenedor .image-block2 figcaption p,
  .mainTutoriales .contenedor .image-block2 figcaption .mainIndex .seccionOne .textoIndex,
  .mainIndex .seccionOne .mainTutoriales .contenedor .image-block2 figcaption .textoIndex {
    font-size: 14px;
    line-height: 1.75;
  }

  .mainTutoriales .contenedor .image-block3 {
    width: 300px;
    height: 550px;
  }

  .mainTutoriales .contenedor .image-block3 figcaption {
    position: absolute;
    bottom: -34%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    -webkit-transition: 0.45s;
    transition: 0.45s;
  }

  .mainTutoriales .contenedor .image-block3 figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
  }

  .mainTutoriales .contenedor .image-block3 figcaption p,
  .mainTutoriales .contenedor .image-block3 figcaption .mainIndex .seccionOne .textoIndex,
  .mainIndex .seccionOne .mainTutoriales .contenedor .image-block3 figcaption .textoIndex {
    font-size: 14px;
    line-height: 1.75;
  }

  .mainTutoriales .contenedor .image-block4 {
    width: 300px;
    height: 550px;
  }

  .mainTutoriales .contenedor .image-block4 figcaption {
    position: absolute;
    bottom: -34%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    -webkit-transition: 0.45s;
    transition: 0.45s;
  }

  .mainTutoriales .contenedor .image-block4 figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
  }

  .mainTutoriales .contenedor .image-block4 figcaption p,
  .mainTutoriales .contenedor .image-block4 figcaption .mainIndex .seccionOne .textoIndex,
  .mainIndex .seccionOne .mainTutoriales .contenedor .image-block4 figcaption .textoIndex {
    font-size: 14px;
    line-height: 1.75;
  }
}

/* ------Tips----- */
@media (max-width: 720px) {
  .mainTips .tituloSecundario {
    font-size: 30px;
  }

  .mainTips .mainTips h3 {
    font-size: 20px;
  }

  .mainTips .mainTips p,
  .mainTips .mainTips .mainIndex .seccionOne .textoIndex,
  .mainIndex .seccionOne .mainTips .mainTips .textoIndex {
    font-size: 16px;
  }

  .mainTips .exp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas: "textoTips2 "
      "contenedorTips1";
    grid-area: exp;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mainTips .exp .contenedorTips1 {
    width: 300px;
    height: 150px;
    margin-bottom: 100px;
  }

  .mainTips .exp .contenedorTips1 .videoTips {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mainTips .anecdotas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr;
    grid-template-rows: 0.5fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contenedorTips2"
      "textotips3 ";
    grid-area: anecdotas;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .mainTips .anecdotas .contenedorTips2 {
    width: 100%;
    height: 250px;
  }

  .mainTips .anecdotas .contenedorTips2 .fotoAnecdota {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

/*# sourceMappingURL=estilos.css.map */