/* ---------------Estilos universales---------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

$separacion:(top: 70px,
    bottom: 60px);

@mixin subtituloPorDefecto {
    justify-self: center;
    align-self: center;
    grid-area: subtitulo;
    margin-top: map-get($separacion, $key: top);
    margin-bottom: map-get($separacion, $key: bottom);
    text-shadow: 0px 0px 5px rgb(198, 211, 11);
}

.colorFondo {
    background-color: rgb(24, 7, 7);
}


.navbar.navbar-expand-md.bg-dark.navbar-dark {
    font-size: 20px;
    padding: 0 0 0 0;
}

.bg-dark {
    background-color: transparent !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #212529;
    border: 1px solid transparent;
    border-radius: 0.25rem;

}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    text-shadow: 0px 0px 5px #4e8710;
}


header {
    height: 350px;
    width: 100%;
    background-image: url(./imgTragos/fotologo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .tituloSecundario {
        color: #fff6a9;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        font-size: 45px;
        text-align: center;
        background-color: transparent;
        text-transform: capitalize;

    }

    .animate__animated.animate__slideInDown {
        --animate-duration: 1s
    }
}

main {
    background-image: radial-gradient(circle, #605200, #5b3d0a, #4f2c12, #3d1e15, #271413, #1d0f10, #12080a, #000000, #000000, #000000, #000000, #000000);

    .subtitulo {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-shadow: 3px 3px 3px black;

    }

    p {
        text-align: justify;
        padding: 5px;
    }
}


footer {
    .jumbotron {
        background-color: #160f0f;
        padding: 2rem 1rem;
        height: 250px;

        .mapa {
            display: flex;
            justify-content: center;
            height: 100px;
            width: 100%;
        }

        .Redes {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            img.facebook {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.instagram {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.twitter {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.whatsapp {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

        }
    }

    .textF {
        text-align: center;
    }
}

/*------------------------ Estilos index inicio ---------------------------*/
.titulo {
    
        font-size: 60px;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        animation: blink 1s infinite;
        -webkit-animation: blink 3s infinite;
        padding: 5px;
    @-webkit-keyframes blink {

        20%,
        24%,
        55% {
            color: transparent;
            text-shadow: none;
        }

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
            color: #fff6a9;
        }
    }

    @keyframes blink {

        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
            text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
            color: #fff6a9;
        }
    }
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2.5s
}

.mainIndex {
    display: grid;
    grid-template-columns: 0.2fr 1.9fr 1.7fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 3px;
    grid-auto-flow: row;
    grid-template-areas:
        ". seccionOne seccionOne ."
        ". seccionTwo seccionTwo .";
    width: 100%;

    .seccionOne {
        display: grid;
        grid-template-columns: 1.3fr 0.8fr;
        grid-template-rows: 0.3fr 1fr;
        gap: 20px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "subtitulo subtitulo"
            "fotoFondo2 textoIndex";
        grid-area: seccionOne;

        .contenedorImagen1 {
            display: flex;
            justify-content: center;
            width: 90%;
            height: 100%;

            .fotoFondo2 {
                display: inline-block;
                background-position: center;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        .subtitulo {
            @include subtituloPorDefecto();
        }

        .textoIndex {
            display: flex;
            align-items: center;
            @extend p
        }

    }

    .seccionTwo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "subTituloIndex"
            "fotoPrincipal";
        grid-area: seccionTwo;
        margin-bottom: 30px;

        .seccionTwo h2 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
            color: rgb(255, 255, 255);
        }

        .subTituloIndex {
            justify-self: center;
            align-self: center;
            text-shadow: 0px 0px 5px rgb(198, 211, 11);
        }

        .carousel-inner img {
            width: 100%;
            height: 500px;
        }

        .fotofondo {
            background-position: center;
            width: 100%;
            height: 700px;
            object-fit: contain;
        }

        .fotofondo3 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }

        .fotofondo4 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }

        .fotofondo5 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }
    }
}

/*------------------- Estilos index fin--------------------- */

/* ------------------Estilos Categoria inicio--------------- */
.mainCategorias {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;


    .subtitulo {
        justify-self: center;
        align-self: center;
        padding-top: map-get($separacion, $key: top);
        padding-bottom: map-get($separacion, $key: bottom);
        text-shadow: 0px 0px 5px rgb(198, 211, 11);
    }

    .textoCategorias {
        margin-top: 20px;
        margin-right: 20px;
        text-align: center;
        align-self: center;
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;

        .card {
            position: relative;
            min-width: 320px;
            height: 440px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            margin: 30px;
            transition: 0.5s;
            background-color: rgb(122, 120, 120);

            .box {
                position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px;
                background: rgb(51, 20, 0);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: 0.5s;
            }
        }
    }
}

.container .card .box:hover {
    transform: translateY(-50px);
}

.container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;

    h2 {
        position: absolute;
        top: -10px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255, 255, 255, 0.1);
    }

    h3 {
        font-size: 1.8rem;
        color: #fff;
        z-index: 1;
        transition: 0.5s;
        margin-bottom: 15px;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        transition: 0.5s;
    }

    a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: black;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: 0.5s;

        :hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            background: #fff;
            color: #000;
        }
    }
}

/*------------------ Estilos Categoria Fin------------------- */

/* ----------------- Estilos Tutoriales inicio--------------- */
.mainTutoriales {
    .subtitulo {
        justify-self: center;
        text-shadow: 0px 0px 5px rgb(198, 211, 11);
        margin-bottom: map-get($separacion, $key: bottom);
        padding-top: map-get($separacion, $key: top);
        font-size: 35px;

    }

    font-family: 'Roboto',
    sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;

        .image-block {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
            width: 370px;
            height: 635px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            overflow: hidden;

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

                img {
                    transform: scale(1.25);
                }

                figcaption {
                    bottom: 0;
                }
            }

            h1 {
                position: absolute;
                top: 50px;
                left: 20px;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 0px 5px 8px rgb(43, 5, 5);
                font-size: 30px;
                font-weight: 100;
                line-height: 1;
            }

            img {
                height: 100%;
                transition: 0.25s;
            }

            figcaption {
                position: absolute;
                bottom: -33%;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 30px;
                background-color: rgba(black, 0.85);
                box-shadow: 0 0 20px rgba(black, 0.4);
                color: white;
                line-height: 1;
                transition: 0.25s;

                h3 {
                    margin: 0 0 20px;
                    padding: 0;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.75;
                }

            }
        }

        .image-block2 {
            position: relative;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
            width: 370px;
            height: 635px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            overflow: hidden;

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

                img {
                    transform: scale(1.25);
                }

                figcaption {
                    bottom: 0;
                }
            }

            h1 {
                position: absolute;
                top: 50px;
                left: 20px;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 0px 5px 8px rgb(43, 5, 5);
                font-size: 30px;
                font-weight: 100;
                line-height: 1;
            }

            .imagen {
                height: 100%;
                transition: 0.25s;
            }

            figcaption {
                position: absolute;
                bottom: -33%;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 30px;
                background-color: rgba(black, 0.85);
                box-shadow: 0 0 20px rgba(black, 0.4);
                color: white;
                line-height: 1;
                transition: 0.25s;

                h3 {
                    margin: 0 0 20px;
                    padding: 0;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.75;
                }

            }
        }

        .image-block3 {
            position: relative;
            align-items: center;
            display: flex;
            justify-content: right;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
            width: 370px;
            height: 635px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            overflow: hidden;

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

                img {
                    transform: scale(1.25);
                }

                figcaption {
                    bottom: 0;
                }
            }

            h1 {
                position: absolute;
                top: 50px;
                left: 20px;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 0px 5px 8px rgb(43, 5, 5);
                font-size: 30px;
                font-weight: 100;
                line-height: 1;
            }

            img {
                height: 100%;
                transition: 0.45s;
            }

            figcaption {
                position: absolute;
                bottom: -33%;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 30px;
                background-color: rgba(black, 0.85);
                box-shadow: 0 0 20px rgba(black, 0.4);
                color: white;
                line-height: 1;
                transition: 0.25s;

                h3 {
                    margin: 0 0 20px;
                    padding: 0;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.75;
                }

            }
        }

        .image-block4 {
            position: relative;
            align-items: center;
            display: flex;
            justify-content: right;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 40px;
            width: 370px;
            height: 635px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            overflow: hidden;

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

                img {
                    transform: scale(1.25);
                }

                figcaption {
                    bottom: 0;
                }
            }

            h1 {
                position: absolute;
                top: 50px;
                left: 20px;
                margin: 0;
                padding: 0;
                color: white;
                text-shadow: 0px 5px 8px rgb(43, 5, 5);
                font-size: 30px;
                font-weight: 100;
                line-height: 1;
            }

            img {
                height: 100%;
                transition: 0.45s;
            }

            figcaption {
                position: absolute;
                bottom: -33%;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 30px;
                background-color: rgba(black, 0.85);
                box-shadow: 0 0 20px rgba(black, 0.4);
                color: white;
                line-height: 1;
                transition: 0.25s;

                h3 {
                    margin: 0 0 20px;
                    padding: 0;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.75;
                }

            }
        }

    }

}

/* ----------------- Estilos Tutoriales fin------------------- */
/* ----------------- Estilos Tip inicio   -------------------- */
.mainTips {
    display: grid;
    grid-template-columns: 0.2fr 4.2fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". contexto ."
        ". textoTips1 ."
        ". exp ."
        ". anecdotas .";
    margin-bottom: 50px;


    .contexto {
        margin-right: auto;
        margin-left: auto;
        grid-area: contexto;
        font-size: 30px;
        text-shadow: 0px 0px 5px rgb(198, 211, 11);
        text-decoration: none;
        margin-top: map-get($separacion, $key: top);
        margin-bottom: map-get($separacion, $key: bottom);
    }

    .textoTips1 {
        grid-area: textoTips1;
        
    }

    .exp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "textoTips2 contenedorTips1";
        grid-area: exp;
        align-items: center;
        margin-bottom: 20px;
        .textoTips2 {
            align-items: center;
            text-align-last: center;
            .home-title{
                margin-bottom: 30px;
                border-bottom: 3px solid #3a2104;
            }
        }
        .contenedorTips1 {
            grid-area: contenedorTips1;
            margin-top: 10px;

            .fotoExp {
                height: auto;
                max-width: 90%;
                object-fit: contain;
                margin-left: 20px;
                margin-right: 10px;
            }
            }
        }
    
    .home-title span{
        position: relative;
        overflow: hidden;
        display: block;
        line-height: 1.2;
    }
    
    .home-title span::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(43, 2, 2);
        animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
        transform: translateX(-101%);
    }
    
    .home-title span::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
        transform: translateX(0);
    }
    
    .home-title span:nth-of-type(1)::before,
    .home-title span:nth-of-type(1)::after{
        animation-delay: 1s;
    }
    
    .home-title span:nth-of-type(2)::before,
    .home-title span:nth-of-type(2)::after{
        animation-delay: 1.5s;
    }
    
    @keyframes a-ltr-after{
        0% {transform: translateX(-100%)}
        100% {transform: translateX(101%)}
    }
    
    @keyframes a-ltr-before{
        0% {transform: translateX(0)}
        100% {transform: translateX(200%)}
    }

    .anecdotas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "contenedorTips2 textotips3";
        grid-area: anecdotas;
        margin-bottom: 10px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
        .textotips3 {
            grid-area: textotips3;
            text-align-last: center;
            .home-title{
                margin-bottom: 30px;
                border-bottom: 3px solid #3a2104;
            }
        }
    }
        .contenedorTips2 {
            grid-area: contenedorTips2;

            .fotoAnecdota {
                height: auto;
                max-width: 90%;
                object-fit: contain;
                margin-left: 20px;
                margin-right: 10px;
            }
    }
}

/* ----------------- Estilos Tip fin   ----------------------- */

/* ----------------- Estilos Contactos inicio   ----------------------- */

.mainContactos {
    #container {
        border: solid 3px #ffffff;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        margin-top: map-get($separacion, $key: top);
        margin-bottom: map-get($separacion, $key: bottom);
        position: relative;

        .contactosH1 {
            color: #ffffff;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 7px;
            text-align: center;
            text-transform: uppercase;
        }

        .underline {
            border-bottom: solid 2px #ffffff;
            margin: -0.512em auto;
            width: 299px;
        }

        .icon_wrapper {
            margin: 50px auto 0;
            width: 100%;

            .icon {
                display: block;
                fill: #ffffff;
                height: 50px;
                margin: 0 auto;
                width: 50px;
            }
        }

        form {
            padding: 37.5px;
            margin: 50px 0;

            button {
                overflow: visible;
            }

            button,
            select {
                text-transform: none;
            }

            button,
            input,
            select,
            textarea {
                color: #ffffff;
                font: inherit;
                margin: 0;
            }

            input {
                line-height: normal;
            }

            textarea {
                overflow: auto;
            }

            .email {
                float: right;
                width: 45%;
            }

            input[type='text'],
            [type='email'],
            select,
            textarea {
                background: none;
                border: none;
                border-bottom: solid 2px #474544;
                color: #ffffff;
                font-size: 1.000em;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0em 0 1.875em 0;
                padding: 0 0 0.875em 0;
                text-transform: uppercase;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            input[type='text']:focus,
            [type='email']:focus,
            textarea:focus {
                outline: none;
                padding: 0 0 0.875em 0;
            }

            .message {
                float: none;
            }

            .name {
                float: left;
                width: 45%;
            }

            select::-ms-expand {
                display: none;
            }

            .subject {
                width: 100%;
            }

            .telephone {
                width: 100%;
            }

            textarea {
                line-height: 150%;
                height: 150px;
                resize: none;
                width: 100%;
            }

            ::-webkit-input-placeholder {
                color: #ffffff;
            }

            :-moz-placeholder {
                color: #ffffff;
                opacity: 1;
            }

            ::-moz-placeholder {
                color: #ffffff;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: #ffffff;
            }

            #form_button {
                background: none;
                border: solid 2px #474544;
                color: #ffffff;
                cursor: pointer;
                display: inline-block;
                font-family: 'Helvetica', Arial, sans-serif;
                font-size: 0.875em;
                font-weight: bold;
                outline: none;
                padding: 20px 35px;
                text-transform: uppercase;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            #form_button:hover {
                background: #474544;
                color: #F2F3EB;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 30px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }

}

/* ----------------- Estilos Contactos Fin   ----------------------- */


/* ---------- Media Queries ------------- */


/* ------index------------ */

@media screen and (max-width: 1366px) {}

@media (max-width: 1024px) {
    .mainIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr;
        gap: 6px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            ". seccionOne seccionOne ."
            ". seccionTwo seccionTwo .";
        width: 100%;

        .seccionOne {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr;
            gap: 10px 5px;
            grid-auto-flow: row;
            grid-template-areas:
                "subtitulo "
                "fotoFondo2 "
                "textoIndex ";
            grid-area: seccionOne;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;

            .subtitulo {
                justify-self: center;
                align-self: center;
                grid-area: subtitulo;
            }

            .fotoFondo2 {
                display: inline-block;
                background-position: center;
                width: 100%;
                height: 100%;
                grid-area: fotoFondo2;
                justify-self: center;
                align-self: center;
                object-fit: cover;
            }

            .textoIndex {
                grid-area: textoIndex;
            }
        }

        .subTituloIndex {
            justify-self: center;
            align-self: center;
            grid-area: subTituloIndex;
        }
    }


}

@media (max-width: 768px) {
    body {
        .titulo {
            font-size: 45px;

        }
    }

    .mainIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr;
        gap: 6px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            ". seccionOne  ."
            ". seccionTwo  .";
        width: 100%;

        .seccionOne {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr;
            gap: 10px 5px;
            grid-auto-flow: row;
            grid-template-areas:
                "subtitulo "
                "fotoFondo2 "
                "textoIndex ";
            grid-area: seccionOne;
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            .contenedorImagen1 {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;

                .fotoFondo2 {
                    display: inline-block;
                    background-position: center;
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }

    .contacto h3 {
        font-size: 15px;
    }

    .contacto h4 {
        font-size: 15px;
    }

}



@media (max-width: 620px) {
    .contenedorImagen1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 260px;

        .fotoFondo2 {
            background-position: center;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }

    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 420px) {

    .seccionOne {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 2px 2px;
        grid-auto-flow: row;
        grid-template-areas:
            "subtitulo "
            "fotoFondo2 "
            "textoIndex ";
        grid-area: seccionOne;

        .contenedorImagen1 {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 200px;
        }

    }

    img.facebook {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.instagram {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.twitter {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.whatsapp {
        height: 20px;
        width: 20px;
        ;
        margin-right: 10px;
    }

    .carousel-inner img {
        width: 100%;
        height: 250px;
    }

}


/* ------------categorias-------------- */


/* --------Tutoriales----- */
@media (max-width: 480px) {
    .mainTutoriales {

        .contenedor {

            .image-block {
                width: 300px;
                height: 550px;

                figcaption {
                    position: absolute;
                    bottom: -34%;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0px;
                    background-color: rgba(black, 0.85);
                    box-shadow: 0 0 20px rgba(black, 0.4);
                    color: white;
                    line-height: 1;
                    transition: 0.45s;

                    h3 {
                        margin: 0 0 20px;
                        padding: 0;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.75;
                    }

                }
            }

            .image-block2 {

                width: 300px;
                height: 550px;

                figcaption {
                    position: absolute;
                    bottom: -34%;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0px;
                    background-color: rgba(black, 0.85);
                    box-shadow: 0 0 20px rgba(black, 0.4);
                    color: white;
                    line-height: 1;
                    transition: 0.45s;

                    h3 {
                        margin: 0 0 20px;
                        padding: 0;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.75;
                    }

                }
            }

            .image-block3 {
                width: 300px;
                height: 550px;

                figcaption {
                    position: absolute;
                    bottom: -34%;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0px;
                    background-color: rgba(black, 0.85);
                    box-shadow: 0 0 20px rgba(black, 0.4);
                    color: white;
                    line-height: 1;
                    transition: 0.45s;

                    h3 {
                        margin: 0 0 20px;
                        padding: 0;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.75;
                    }

                }
            }

            .image-block4 {
                width: 300px;
                height: 550px;

                figcaption {
                    position: absolute;
                    bottom: -34%;
                    left: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0px;
                    background-color: rgba(black, 0.85);
                    box-shadow: 0 0 20px rgba(black, 0.4);
                    color: white;
                    line-height: 1;
                    transition: 0.45s;

                    h3 {
                        margin: 0 0 20px;
                        padding: 0;
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.75;
                    }

                }
            }
        }
    }
}

/* ------Tips----- */
@media (max-width: 720px) {
    .mainTips {
        .tituloSecundario {
            font-size: 30px;
        }

        .mainTips h3 {
            font-size: 20px;
        }

        .mainTips p {
            font-size: 16px;
        }

        .exp {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 15px 15px;
            grid-auto-flow: row;
            grid-template-areas:
                "textoTips2 "
                "contenedorTips1";
            grid-area: exp;
            justify-items: center;
            align-items: center;

            .contenedorTips1 {
                width: 300px;
                height: 150px;
                margin-bottom: 100px;

                .videoTips {
                    width: 100%;
                    justify-content: center;
                }
            }
        }

        .anecdotas {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr;
            gap: 10px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "textotips3 "
                "contenedorTips2";
            grid-area: anecdotas;
            margin-bottom: 10px;
            margin-top: 10px;

            .contenedorTips2 {
                width: 100%;
                height: 250px;

                .fotoAnecdota {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}