/* ---------------Estilos universales---------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.colorFondo {
    background-color: rgb(0, 0, 0);
}


.navbar.navbar-expand-md.bg-dark.navbar-dark {
    font-size: 20px;
    padding: 0 0 0 0;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #212529;
    border: 1px solid transparent;
    border-radius: 0.25rem;

}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
    color: #c9a460;
    text-shadow: 5px 5px 5px black;
}


header {
    height: 350px;
    width: 100%;
    background-image: url(./imgTragos/fotologo.jpg);
    background-size: cover;
    background-position: center;

    .tituloSecundario {
        color: rgb(255, 255, 255);
        text-shadow: 8px 8px 8px black;
        font-size: 45px;
        text-align: center;
        background-color: transparent;
        text-transform: capitalize;
        padding-top: 150px;
    }

    .animate__animated.animate__slideInDown {
        --animate-duration: 1s
    }
}

main {
    background-image: radial-gradient(circle, #605200, #5b3d0a, #4f2c12, #3d1e15, #271413, #1d0f10, #12080a, #000000, #000000, #000000, #000000, #000000);

    .subtitulo {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-shadow: 3px 3px 3px black;
    }
}


footer {
    .jumbotron {
        background-color: #160f0f;
        padding: 2rem 1rem;
        height: 250px;

        .mapa {
            display: flex;
            justify-content: center;
            height: 100px;
            width: 100%;
        }

        .Redes {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            img.facebook {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.instagram {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.twitter {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

            img.whatsapp {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }

        }
    }

    .textF {
        text-align: center;
    }
}

/*------------------------ Estilos index inicio ---------------------------*/
.titulo {
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 6px orange;
    font-size: 35px;
    text-align: center;
    background-color: transparent;
    text-transform: capitalize;
    padding-top: 150px;
    font-weight: 550;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
        font-size: 40px;
        background-color: transparent;
        color: #000000;
    }
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2.5s
}

.mainIndex {
    display: grid;
    grid-template-columns: 0.2fr 1.9fr 1.7fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 3px;
    grid-auto-flow: row;
    grid-template-areas:
        ". seccionOne seccionOne ."
        ". seccionTwo seccionTwo .";
    width: 100%;

    .seccionOne {
        display: grid;
        grid-template-columns: 1.3fr 0.8fr;
        grid-template-rows: 0.3fr 1fr;
        gap: 20px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "subtitulo subtitulo"
            "fotoFondo2 textoIndex";
        grid-area: seccionOne;

        .contenedorImagen1 {
            display: flex;
            justify-content: center;
            width: 90%;
            height: 100%;

            .fotoFondo2 {
                display: inline-block;
                background-position: center;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        .subtitulo {
            justify-self: center;
            align-self: center;
            grid-area: subtitulo;
        }

        .textoIndex {
            display: flex;
            align-items: center;
            text-align: center;
        }

    }

    .seccionTwo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "subTituloIndex"
            "fotoPrincipal";
        grid-area: seccionTwo;

        .seccionTwo h2 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
            color: rgb(255, 255, 255);
        }

        .subTituloIndex {
            justify-self: center;
            align-self: center;
        }

        .carousel-inner img {
            width: 100%;
            height: 500px;
        }

        .fotofondo {
            background-position: center;
            width: 100%;
            height: 700px;
            object-fit: contain;
        }

        .fotofondo3 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }

        .fotofondo4 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }

        .fotofondo5 {
            background-position: center;
            width: 100%;
            object-fit: contain;
        }
    }
}

/*------------------- Estilos index fin--------------------- */

/* ------------------Estilos Categoria inicio--------------- */
.mainCategorias {
    .subtitulo {
        justify-self: center;
        align-self: center;
    }

    .textoCategorias {
        margin-top: 20px;
        margin-right: 20px;
        text-align: center;
        align-self: center;
    }

    .contenedorTabla {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;

        table {
            width: 600px;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

            tr {
                th {
                    text-align: center;
                    background-color: #1d0f10;
                }

                td {
                    padding: 5px;
                    background-color: rgba(90, 5, 5, 0.2);
                    color: #fff;
                    text-align: center;
                }

            }

        }
    }
}

/*------------------ Estilos Categoria Fin------------------- */

/* ----------------- Estilos Tutoriales inicio--------------- */
.mainTutoriales {
    .subtitulo {
        justify-self: center;
        text-shadow: 2px 2px 2px rgb(72, 71, 71);
        margin-top: 40px;
        margin-bottom: 30px;
        text-decoration: underline;

    }

    h3 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    p {
        margin-left: 20px;
    }

    .container {
        width: 100%;

        .card-title {
            color: #000000;

        }

        .card-text {
            color: #000000;

        }

        .card {
            background-color: #633224;
            width: 100%;

        }

        .card-img-top {
            width: 100%;
        }

        .ingredientesSub {
            text-align: left;
        }

        .lista {
            text-align: left;
        }

    }
}

/* ----------------- Estilos Tutoriales fin------------------- */
/* ----------------- Estilos Tip inicio   -------------------- */
.mainTips {
    display: grid;
    grid-template-columns: 0.2fr 4.2fr 0.2fr;
    grid-template-rows: 0.2fr 0.3fr 0.2fr 2.4fr 0.3fr 2.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". contexto ."
        ". textoTips1 ."
        ". experiencias ."
        ". exp ."
        ". textAnecdotas ."
        ". anecdotas .";
    margin-top: 20px;
    margin-bottom: 50px;

    h3 {
        font-size: 25px;
        margin-left: 50px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-decoration: underline;
        text-shadow: 0 0 5px black;
    }

    .contexto {
        justify-self: center;
        align-self: center;
        grid-area: contexto;
    }

    .textoTips1 {
        grid-area: textoTips1;
    }

    .experiencias {
        justify-self: center;
        grid-area: experiencias;
    }

    .exp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "textoTips2 contenedorTips1";
        grid-area: exp;

        .contenedorTips1 {
            grid-area: contenedorTips1;

            .videoTips {
                width: 400px;
                height: 400px;
            }

            .textoTips2 {
                grid-area: textoTips2;
            }
        }
    }

    .textAnecdotas {
        justify-self: center;
        align-self: center;
        grid-area: textAnecdotas;
    }

    .anecdotas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr;
        gap: 0px 36px;
        grid-auto-flow: row;
        grid-template-areas:
            "textotips3 contenedorTips2";
        grid-area: anecdotas;

        .contenedorTips2 {
            grid-area: contenedorTips2;

            .fotoAnecdota {
                width: 100%;
                height: 400px;
                object-fit: contain;
            }

            .textotips3 {
                grid-area: textotips3;
            }
        }
    }
}

/* ----------------- Estilos Tip fin   ----------------------- */

/* ----------------- Estilos Contactos inicio   ----------------------- */

.mainContactos {
    #container {
        border: solid 3px #ffffff;
        max-width: 768px;
        margin: 60px auto;
        position: relative;

        .contactosH1 {
            color: #ffffff;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 7px;
            text-align: center;
            text-transform: uppercase;
        }

        .underline {
            border-bottom: solid 2px #ffffff;
            margin: -0.512em auto;
            width: 350px;
        }

        .icon_wrapper {
            margin: 50px auto 0;
            width: 100%;

            .icon {
                display: block;
                fill: #ffffff;
                height: 50px;
                margin: 0 auto;
                width: 50px;
            }
        }

        form {
            padding: 37.5px;
            margin: 50px 0;

            button {
                overflow: visible;
            }

            button,
            select {
                text-transform: none;
            }

            button,
            input,
            select,
            textarea {
                color: #ffffff;
                font: inherit;
                margin: 0;
            }

            input {
                line-height: normal;
            }

            textarea {
                overflow: auto;
            }

            .email {
                float: right;
                width: 45%;
            }

            input[type='text'],
            [type='email'],
            select,
            textarea {
                background: none;
                border: none;
                border-bottom: solid 2px #474544;
                color: #ffffff;
                font-size: 1.000em;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0em 0 1.875em 0;
                padding: 0 0 0.875em 0;
                text-transform: uppercase;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            input[type='text']:focus,
            [type='email']:focus,
            textarea:focus {
                outline: none;
                padding: 0 0 0.875em 0;
            }

            .message {
                float: none;
            }

            .name {
                float: left;
                width: 45%;
            }

            select::-ms-expand {
                display: none;
            }

            .subject {
                width: 100%;
            }

            .telephone {
                width: 100%;
            }

            textarea {
                line-height: 150%;
                height: 150px;
                resize: none;
                width: 100%;
            }
            ::-webkit-input-placeholder {
                color: #ffffff;
            }
            :-moz-placeholder {
                color: #ffffff;
                opacity: 1;
            }
            ::-moz-placeholder {
                color: #ffffff;
                opacity: 1;
            }
            :-ms-input-placeholder {
                color: #ffffff;
            }

            #form_button {
                background: none;
                border: solid 2px #474544;
                color: #ffffff;
                cursor: pointer;
                display: inline-block;
                font-family: 'Helvetica', Arial, sans-serif;
                font-size: 0.875em;
                font-weight: bold;
                outline: none;
                padding: 20px 35px;
                text-transform: uppercase;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            #form_button:hover {
                background: #474544;
                color: #F2F3EB;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}

/* ----------------- Estilos Contactos Fin   ----------------------- */


/* ---------- Media Queries ------------- */


/* ------index------------ */

@media screen and (max-width: 1366px) {}

@media (max-width: 1024px) {
    .mainIndex {
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: 0.3fr 0.3fr;
        gap: 6px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            ". seccionOne seccionOne ."
            ". seccionTwo seccionTwo .";
        width: 100%;
        .seccionOne {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr;
            gap: 10px 5px;
            grid-auto-flow: row;
            grid-template-areas:
                "subtitulo "
                "fotoFondo2 "
                "textoIndex ";
            grid-area: seccionOne;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;
            .subtitulo {
                justify-self: center;
                align-self: center;
                grid-area: subtitulo;
            }
            .fotoFondo2 {
                display: inline-block;
                background-position: center;
                width: 100%;
                height: 100%;
                grid-area: fotoFondo2;
                justify-self: center;
                align-self: center;
                object-fit: cover;
            }
            .textoIndex {
                grid-area: textoIndex;
            }
        }
        .subTituloIndex {
            justify-self: center;
            align-self: center;
            grid-area: subTituloIndex;
        }
    }


}

@media (max-width: 768px) {
    .mainIndex {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 0.3fr 0.3fr;
        gap: 6px 3px;
        grid-auto-flow: row;
        grid-template-areas:
            ". seccionOne  ."
            ". seccionTwo  .";
        width: 100%;
        .seccionOne {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr;
            gap: 10px 5px;
            grid-auto-flow: row;
            grid-template-areas:
                "subtitulo "
                "fotoFondo2 "
                "textoIndex ";
            grid-area: seccionOne;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            .contenedorImagen1 {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                .fotoFondo2 {
                    display: inline-block;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    
                }
            }    
        }
    }
    .titulo {
        font-size: 30px;
    }
    span {
        font-size: 30px;
    }


    .contacto h3 {
        font-size: 15px;
    }

    .contacto h4 {
        font-size: 15px;
    }

}



@media (max-width: 620px) {
    .contenedorImagen1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 260px;
        .fotoFondo2 {
            background-position: center;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }

    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 420px) {

    .seccionOne {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 2px 2px;
        grid-auto-flow: row;
        grid-template-areas:
            "subtitulo "
            "fotoFondo2 "
            "textoIndex ";
        grid-area: seccionOne;
        .contenedorImagen1 {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 200px;
        }
        .subtitulo {
            font-size: 18px;
        }
    
        .seccionTwo h2 {
            font-size: 18px;
        }
    
        .textoIndex {
            font-size: 16px;
        }
    
    }
    .subTituloIndex {
        font-size: 18px;
    }

    img.facebook {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.instagram {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.twitter {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    img.whatsapp {
        height: 20px;
        width: 20px;
        ;
        margin-right: 10px;
    }

    .carousel-inner img {
        width: 100%;
        height: 250px;
    }

}


/* ------------categorias-------------- */

@media (max-width: 620px) {

    .tituloSecundario {
        font-size: 30px;
    }

    .textoCategorias {
        font-size: 16px;
    }

    .mainCategorias h2 {
        font-size: 20px;
    }

    .contenedorTabla {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 5px;
        background-color: rgba(90, 5, 5, 0.2);
        color: #fff;
    }

    th {
        text-align: left;
        background-color: #1d0f10;
    }

}

/* --------Tutoriales----- */

/* ------Tips----- */
@media (max-width: 720px) {

    .tituloSecundario {
        font-size: 30px;
    }

    .mainTips h3 {
        font-size: 20px;
    }

    .mainTips p {
        font-size: 16px;
    }

    .exp {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "textoTips2 "
            "contenedorTips1";
        grid-area: exp;
        justify-items: center;
        align-items: center;

    }

    .anecdotas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        gap: 10px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "contenedorTips2"
            "textotips3 ";
        grid-area: anecdotas;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contenedorTips2 {
        width: 100%;
        height: 250px;
    }

    .contenedorTips1 {
        width: 300px;
        height: 150px;
        margin-bottom: 250px;

    }

    .videoTips {
        width: 100%;
        justify-content: center;
    }

    .fotoAnecdota {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

